.how-to {
    padding-top: 40px;
}

.how-to-1__perfectFix {
    padding-bottom: 40px;
}

.how-to__list {
    margin-left: 15px;
    padding-left: 2px;
    margin-top: -1px;
    list-style: outside disc;
    font-size: 16px;
}

.how-to__list-item {
    vertical-align: text-top;
    list-style: inherit;
    margin-bottom: 15px;
    line-height: 21.6px;
}

.how-to__list-item::marker {
    font-size: 18px;
}

.how-to__list-item strong {
    font-family: 'Inter bold', sans-serif;
    margin-right: 2.5px;
}