.content-section {
    width: 100%;
    padding : 40px 20px;
}

.content-section_black {
    color : var(--white);
    background-color: var(--black);
}

.content-section_yellow {
    color : var(--black);
    background-color: var(--yellow);
}

.content-section__title-wrapper {
    margin-bottom: 32px;
}

.content-section__title {
    display: block;
    font-family: 'EB Garamond', sans-serif;
    font-weight: 500;
    font-size: 28px;
    text-align: right;
    line-height: 115%;
}

.content-section__subtitle {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;
    margin-bottom: 32px;
    font-style: normal;
}